.eventcard {
    /* height: 100px; */
    width: 30%;
    padding: 10px;
    margin: 10px;
}

.eventcard img{
    width: 100%;
    height: 50%;
    /* max-height: 50%; */
    object-fit: cover;
    /* size: cover; */

}

.eventlist{
    display: flex;
    flex-flow: row wrap;
}

